@import '../../../variables.scss';

.page-content {
    padding: 0 20px 20px 20px;

    .seperator {
        font-size: smaller !important;
        font-weight: bold;
        opacity: 0.5;
        margin-bottom: 5px;
    }

    .payment-methods {
        padding: 10px 0 30px 0;
        position: relative;
        
        .payment-method {
            display: flex;
            align-items: center;
            padding: 20px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #EEE;

            &[isHideMethod=true] {
                display: none !important;
            }

            ion-icon { color: $theme-color; }
            
            &[isSelected=false] {
                ion-icon { opacity: 0.3; }
            }
            
            .payment-method-icon {
                margin-right: 10px;
                img { height: 40px; border-radius: 5px; }
            }

            .payment-method-details {
                margin-left: 15px;
                .payment-method-owner { font-weight: bold; text-transform: uppercase; }
                .payment-method-name {
                    font-weight: bold;
                    &.small { font-size: small !important; font-weight: normal !important; }
                }
                .payment-method-expiry { font-size: small; opacity: 0.5; }
            }
        }
    }
}

.page-content {
    height: 100vh;
}

.message {
    width: 100vw;
    text-align: center;
    padding: 0 20px;

    svg {
        margin: auto;
        width: 50%;
    }
    
    .message-header {
        font-size: large;
        margin-top: 10px;
        font-weight: bold;
    }

    .message-body {
        font-size: small;
        opacity: 0.5;
    }
}