<ion-content>
  <!-- Page header -->
  <div class="page-header">
    <div class="top-header">
      <div class="back-button clickable" [routerLink]="'/home'" routerDirection="back"><ion-icon class="center" name="arrow-back-sharp"></ion-icon></div>
      <div class="space"></div>
      <div class="buttons">
      <div class="button clickable"></div>
      </div>
    </div>
    <div class="header-details">
      <div class="page-name">Contact Us</div>
    </div>
  </div>

  <ion-content [forceOverscroll]=true>
      <div class="page-content ion-text-center">
        <p style="font-weight: 200;">Need to get in touch with us? We'd love to hear from you! You can reach out at anytime we'll be sure to get back to you.</p>


        <br>
        <br>
        <h6 class="ion-text-center">Email Address</h6>
        <a color="gray" href="mailto:lebyanelm@nextify.co.za">imbizoshisanyama@imbs.co.za</a>
        
        <br>
        <br>

        <h6 class="ion-text-center">Call us</h6>
        <a color="gray" href="callto:0747521395">(012)-298-3982</a>
        
      </div>
  </ion-content>
</ion-content>

<ion-footer class="flex">
  <a href="callto:0747521395"><button>Call us now</button></a>
</ion-footer>