<!-- Container -->
<ion-content>
  <div class="top-image-container">
    <div class="image"></div>
    <div class="fader"></div>
  </div>

  <div class="welcome-page-content">
    <div class="welcome-page-header">Mario's Pizza Grill</div>
    <div class="welcome-page-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sint officiis omnis nesciunt nam facilis sit cupiditate fugit dolore numquam.</div>

    <div class="buttons">
      <button class="button" routerLink="/signin">Login</button>
      <button class="button" routerLink="/register">Register</button>
    </div>
    <div class="buttons">
      <div class="button facebook-login" (click)="openFacebookLogin()">
        <ion-icon name="logo-facebook"></ion-icon>
        Log in with Facebook
      </div>
    </div>
  </div>
</ion-content>