@import "../../../variables.scss";

.top-image-container {
  height: 50%;
  width: 100%;
  position: relative;
}

.image {
  height: 100%;
  width: 100%;
  background: #ddd;
  background-image: url(/assets/images/Pizza_Tomatoes_547600_1920x1080.jpg);
  background-size: cover;
  background-position: center;
}

.fader {
  height: 50%;
  width: 100%;
  background: linear-gradient(0deg, #fff, transparent);
  position: absolute;
  bottom: 0;
  left: 0;
}

.welcome-page-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  position: absolute;
  bottom: 20px;

  .welcome-page-header {
    font-size: 40px;
    font-weight: bolder;
  }

  .welcome-page-description {
    font-size: small;
    opacity: 0.5;
    margin: 20px 0 60px 0;
  }

  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;

    .button {
      flex: 1;
      padding: 15px 10px;
      border: 1px solid gray;
      border-radius: 50px;
      font-size: smaller !important;
      text-align: center;
      font-weight: bold;
      margin-right: 20px;
      text-transform: uppercase;
      background: $background-color;
      color: $secondary-color;
      transition: transform 300ms;

      &:active {
        transform: scale(0.8);
      }
    }

    .button:last-child {
      margin-right: 0;
    }

    .button.facebook-login {
      display: flex;
      background: rgb(54, 72, 128);
      text-align: center;
      color: #fff;
      align-items: center;
      justify-content: center;
      border: none;

      ion-icon {
        margin-right: 10px;
      }
    }
  }
}
