<ion-content>
  <div class="page-header">
    <div class="top-header">
      <div class="back-button" routerLink="/signin" routerDirection="back"><ion-icon class="center" name="arrow-back-sharp"></ion-icon></div>
    </div>

    <div class="header-details">
      <div class="page-name">Password Reset</div>
    </div>
  </div>

  <div class="center form login-register-form-container">
    <ion-slides [pager]=false #IonSlides>
      <ion-slide class="ion-slide">
        <label>What's your phone number?</label>
        <input class="theme" type="tel" placeholder="eg. +27012345678" [value]=autofill [attr.data-error]=isError #PhoneNumber>
      </ion-slide>

      <ion-slide class="ion-slide">
        <h5 class="ion-text-center">Verify it's you.</h5>
        <input class="theme" type="tel" placeholder="eg. 0000" [attr.data-error]=isError #VerificationCode>
      </ion-slide>

      <ion-slide class="ion-slide">
        <h5 class="ion-text-center" #HeaderText>Set a new password.</h5>
        <input class="theme" type="password" placeholder="eg. newpassword" [attr.data-error]=isError #Password>
      </ion-slide>
    </ion-slides>

    <div class="error" #Instructions></div>

    <div class="flex">
      <div>
        <div>Remember your password?</div>
        <div><a routerLink="/login">Cancel reset</a></div>
      </div>
      <div class="space"></div>
      <button class="icon-only circular flex" [disabled]="isLoading" #NextButton>
        <div class="text flex" #NextButtonText>Next</div>
        <ion-spinner name="crescent" color="black" *ngIf="isLoading"></ion-spinner>
      </button>
    </div>
  </div>
</ion-content>
