<ion-content>
  <div class="container center">
    <div class="status-icon" [attr.isLoading]=isLoading [attr.isSuccess]=isSuccess>
      <ion-icon class="center" name="hourglass-outline"></ion-icon>
      <ion-icon class="center" name="checkmark"></ion-icon>
      <ion-icon class="center" name="close"></ion-icon>
    </div>
    <div class="status" [attr.isSuccess]=true>{{status}}</div>
    <div class="status-message">{{statusMessage}}</div>
  </div>
</ion-content>

<ion-footer>
  <button [disabled]="isLoading" *ngIf="statusCode === 200" (click)="routeTo('/order-placed')">Track my order</button>
  <button *ngIf="statusCode === 501" (click)="voteForArea()">Vote for area</button>
  <button *ngIf="statusCode === 406" (click)="routeTo('/about')">View working hours</button>
  <button *ngIf="statusCode === -1 && statusCode === 422" (click)="goBack()">Go back</button>
</ion-footer>