<ion-content>
  <!-- Page header -->
  <div class="page-header">
    <div class="top-header">
      <div class="back-button clickable" [routerLink]="'/home'" routerDirection="back"><ion-icon class="center" name="arrow-back-sharp"></ion-icon></div>
      <div class="space"></div>
    </div>
    <div class="header-details">
      <div class="page-name">About us</div>
      <div class="description">We are a food franchise serving people with a great range of foods, we currently have 13 branches around South Africa, we hope to grow this soon to serve more people.</div>
    </div>

    <br>
    <div class="section">
      <div class="title">Working hours</div>
      <li>Weekdays - 09:00 AM to 16:00</li>
      <li>Weekends - 09:00 AM to 13:00</li>
      <li>Public Holidays - 09:00 AM to 12:00</li>
    </div>

    <div class="section">
      <div class="title">Our branches</div>
      <li>Kaalfontein Branch</li>
      <li>Durban Branch</li>
      <li>Olifantsfontein Branch</li>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="buttons">
    <button [routerLink]="'/contact'">Call us</button>
  </div>
</ion-footer>