<ion-content>
  <!-- Orders page header container -->
  <div class="basket-header-container">
    <!-- Close button that closes the orders page -->
    <div class="close-button" (click)="this.closeOrdersModal()"><ion-icon name=close></ion-icon></div>
    <!-- The name of the page -->
    <div class="page-name flex-space">Your Basket</div>
    <!-- Removes all items from the basket -->
    <div class="clearall-button" (click)="this.basket.clear()">Clear</div>
  </div>

  <!-- List of products the customer has added -->
  <div class="basket-items" *ngFor="let basketItem of this.basket.products">
    <div class="basket-item">
      <div class="basket-item-placeholder-container">
        <div
          class="basket-item-placeholder avatar"
          [style.background-image]="'url(' + basketItem.placeholder + ')'"></div>
      </div>
      <div class="basket-item-details">
        <div class="basket-item-name">{{ basketItem.name }}</div>
        <div class="basket-item-description">{{ basketItem.description }}</div>
        <div class="basket-item-bottom">
          <div class="basket-item-quantity-controller">
            <div
              class="quantity-controller remove"
              (click)="this.basket.minusQuantity(basketItem.id)"><ion-icon name=remove-sharp></ion-icon></div>
            <div class="quantity-controller-value">{{ basketItem.quantity }}</div>
            <div
              class="quantity-controller add"
              (click)="this.basket.addQuantity(basketItem.id)"><ion-icon name=add-sharp></ion-icon></div>
          </div>
          <div class="space"></div>
          <div class="basket-item-total-price">R {{ basketItem.price }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="basket-items no-items" *ngIf="this.basket.products.length == 0">
    <ion-icon name="close-circle-outline"></ion-icon>
    <span class="message">No items in your basket</span>
  </div>

  <!-- Basket ordering instructions / Restaurant notes -->
  <div class="basket-ordering-instructions" (click)="openAddNoteModal(false)">
    <div class="basket-notes-title">Add Restaurant Notes</div>
    <input
      type="text"
      class="basket-notes-input"
      placeholder="Any allergies we need to know about?"
      [value]="this.basket.specialInstructions"
      disabled>
  </div>

  <!-- Section to apply a promocode -->
  <div class="promocode-field">
    <input
      type="text"
      placeholder="Apply a promocode for discount"
      [disabled]="this.basket.basketSummary.promocode.discount" #PromocodeInput>
    <button
      [disabled]="!PromocodeInput.value.length && this.basket.basketSummary.discount"
      (click)="this.applyPromocode(PromocodeInput.value)">Apply</button>
  </div>

  <!-- Basket total price section -->
  <div class="price-items">
    <!-- Subtotal -->
    <div class="price-item">
      <div class="text name"><b>Subtotal</b></div>
      <div class="space"></div>
      <div class="text value">R {{ this.basket.basketSummary.orderPrice.toFixed(2) }}</div>
    </div>

    <!-- Promocode discount -->
    <div class="price-item">
      <div class="text name"><b>Discount</b></div>
      <div class="space"></div>
      <div class="text value">-R {{ this.basket.basketSummary.discount.toFixed(2) }} <b *ngIf="this.basket.basketSummary.discount">({{ this.basket.basketSummary.promocode.discount }}%)</b></div>
    </div>

    <!-- Delivery Fee -->
    <div class="price-item">
      <div class="text name"><b>Delivery Fee</b></div>
      <div class="space"></div>
      <div class="text value">R {{ this.basket.basketSummary.deliveryPayment.toFixed(2) }}</div>
    </div>

    <!-- Total amount to be paid -->
    <div class="price-item">
      <div class="text name">Total</div>
      <div class="space"></div>
      <div class="text value">R {{ this.basket.basketSummary.totalPayment.toFixed(2) }}</div>
    </div>
  </div>

  <!-- Checkout button -->
  <div class="buttons">
    <button (click)="this.toCheckout()">Checkout</button>
  </div>
</ion-content>
