@import '../../../variables.scss';

// -------- PAGE HEADER CONTAINER --------
.basket-header-container {
  display: flex;
  align-items: center;
  padding: $padding;
}

// CLOSE BUTTON
.basket-header-container .close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  --size: 50px;
  height: var(--size);
  width: var(--size);
  border: 2px solid #DDD;
  border-radius: var(--size);
}

.basket-header-container .close-button ion-icon {
  font-size: large;
}

// PAGE NAME
.basket-header-container .page-name {
  text-align: center;
  flex: 1;
  font-weight: bolder;
}

// CLEAR ALL ORDERS BUTTON
.basket-header-container .clearall-button {
  font-weight: bolder;
  color: $secondary-color;
}

.basket-header-container .page-name,
.basket-header-container .clearall-button {
  font-size: large;
}


// ---------- BASKET ITEMS -----------
.basket-items .basket-item {
  display: flex;
  align-items: center;
  padding: $padding;
  border-bottom: 2px solid #DDD;
}

// WHEN THERE ARE NO ITEMS IN THE BASKET
.basket-items.no-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #DDD;
}

.basket-items.no-items ion-icon {
  font-size: 40px;
}

.basket-items.no-items span.message {
  font-size: large;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 20px;
}

// PRODUCT IMAGE OF THE BASKET ITEM
.basket-items .basket-item .basket-item-placeholder {
  height: 100px;
  width: 100px;
  border: 2px solid #DDD;
  background: #EEE;
  border-radius: $radius;
  margin-right: 20px;
}

.basket-items .basket-item .basket-item-name {
  font-size: large;
  font-weight: 900;
}

.basket-items .basket-item .basket-item-description {
  font-size: small;
  opacity: .6;
}

// BOTTOM SECITON OF BASKET ITEM
.basket-items .basket-item .basket-item-bottom {
  margin-top: 10px;
}

.basket-items .basket-item .basket-item-bottom,
.basket-items .basket-item .basket-item-bottom .basket-item-quantity-controller {
  display: flex;
  align-items: center;
}

// QUANTITY CONTROLLER FOR BASKET ITEM
.basket-items .basket-item .basket-item-bottom .basket-item-quantity-controller {
  border: 2px solid #DDD;
  border-radius: $radius;
}

// BUTTONS OF QUANTITY CONTROLLER
.basket-items .basket-item .basket-item-quantity-controller .quantity-controller {
  font-size: 18px;
  padding: 5px 10px;
  transform: translateY(2.5px);
}

// VALUE OF THE QUANTITY CONTROLLER
.basket-items .basket-item .basket-item-quantity-controller .quantity-controller-value {
  font-weight: bolder;
}

// PRICE OF THE BASKET ITEM
.basket-items .basket-item .basket-item-bottom .basket-item-total-price {
  font-size: large;
  font-weight: 600;
}


// -------- BASKET ITEMS NOTES ---------
.basket-ordering-instructions {
  padding: $padding;
}

.basket-ordering-instructions .basket-notes-title {
  font-size: large;
  font-weight: bolder;
  margin-bottom: 5px;
  margin-top: 20px;
}

// Restaurant instructions input section
.basket-ordering-instructions input {
  // height: 300px;
  width: 100%;
  border: none;
  text-indent: 0;
  font-size: 16px !important;
  padding: 0;
  margin: 0;
  transform: translateY(-5px);
}


// ------- FOOTER SECTION ----------
ion-footer .promocode-field {
  display: flex;
  align-items: center;
  padding: 0 $padding;
}

ion-footer .promocode-field input {
  border: 3px solid #DDD;
  margin-right: $padding;
  border-radius: $radius;
  transition: border-color 300ms ease;
  font-weight: 900 !important;
  text-transform: uppercase;
}

ion-footer .promocode-field input:focus {
  border-color: $theme-color;
}

ion-footer .price-items {
  padding: 20px 0;
}

ion-footer .price-items .price-item {
  display: flex;
  align-items: center;
  padding: 5px $padding;
}

ion-footer .price-items .price-item .text {
  // font-size: large;
}

ion-footer .price-items .price-item:last-child {
  border-top: 2px solid #DDD;
  padding-top: 5px;
  margin-top: 5px;
}

ion-footer .price-items .price-item:last-child .text {
  font-weight: bolder;
}
