@import "../../../variables.scss";

// Payment options selection
.payment-option-selection-backlight {
  display: block;
  height: 100vh;
  width: 100vw;
  background: $theme-color;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
}

.payment-option-selection-backlight[isOpen=true] {
  pointer-events: all;
  opacity: 1;
}

.payment-option-selection-modal {
  width: 100vw;
  height: auto;
  padding: 20px;
  margin-top: 20px;
  z-index: 1000;
  background-color: $background-color;
  transition: transform 300ms ease;
}

.payment-option-selection-modal .payment-modal-title,
.delivery-collection .delivery-collection-title,
.order-items .order-items-title {
  font-size: x-large;
  font-weight: bolder;
}

.payment-option-selection-modal .payment-modal-title {
  margin-bottom: 10px;
}

.payment-option-selection-modal .payment-modal-options > * {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #EEE;
}

.payment-option-selection-modal .payment-modal-options > * ion-checkbox {
  margin-right: 20px;
}

.payment-option-selection-modal.open {
  transform: translateY(0);
}

// Order Items
.order-items {
    padding: 0 20px;
    .order-item {
        padding: 5px 0;
        border-bottom: $border;

        .multiplier {
          display: inline-block;
          margin-right: 8px;
          margin-left: 10px;
          transform: translateY(-3px);
          font-weight: bolder;
        }

        .order-index {
            width: fit-content;
            padding: 0px 5px;
            font-weight: bold;
            color: $theme-color;
            border: $border;
            float: left;
        }

        .left-side {
            display: flex;
            flex-direction: column;
            padding: 10px;
            .order-price span { opacity: 0.5; }
            .order-name { transform: translateY(4px); font-weight: bolder; }
            .order-price { transform: translateY(4px); font-size: 13px !important; }
            .tag { display: inline-block; padding: 2px 8px; font-size: smaller; font-weight: bold; }
        }

        .right-side {
            .minus-button {
                height: 20px;
                width: 20px;
                border-radius: 50px;
                background: $danger;
                position: relative;

                ion-icon {
                    color: $text-color-on-dark;
                }
            }
        }
    }
}

.order-items .order-items-title {
  padding-left: 0;
  margin-bottom: 10px;
}

// Selection whether using will be collecting order or delivering
.delivery-collection {
  padding-bottom: 0 !important;
  margin-bottom: 20px;
}

.delivery-collection .delivery-collection-title {
  margin-bottom: 10px;
}

.delivery-collection .delivery {
  flex: 1;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  font-weight: bolder;
}

.delivery-collection .delivery[selected=true] {
  background: $theme-color;
  color: $text-color-on-dark;
}

// Leaving a note
.leave-a-note-button {
    padding: 20px;
    border: $border;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    overflow: hidden;
    background: transparentize(#EEE, 0.8);

    span { opacity: 0.5; }
}

.top-header {
    background: $background-color;
}

.order-summary {
    padding: 10px 0;
    margin-bottom: 0 !important;

    .summary {
        padding: 2.5px 20px;

        &.total {
            padding: 8px 20px 0 20px;
            margin-top: 8px;
            position: relative;

            &:before {
                content: "";
                display: block;
                width: 89vw;
                height: 1px;
                background: transparentize($text-color-on-light, 0.5);
                position: absolute;
                top: 0;
            }
        }
    }

    .promocode {
        margin-bottom: 8px;
    }

    .discount[isDiscountApplied=true] {
        color: $danger !important;
    }
}

.page-content {
    padding: 0 0 !important;
    pointer-events: all;

    &[isMapLoading=true] {
        opacity: 0.5;
        pointer-events: none;
    }

    .delivery-time-estimation {
        font-size: smaller !important;
    }
}


.destination-map-snapshot {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .mapbox-improve-map {
        display: none;
    }

    .details {
        .address { font-weight: bold; }
        .description { font-size: small !important; margin-top: 5px;
            span {
                opacity: 0.5;
            }
        }
    }
}

.page-name {
    margin-top: 50px;
}

.mapbox-logo{ display: none; }
.mapboxgl-ctrl-logo { display: none !important; }
.mapbox-improve-map { display: none; }
.mapboxgl-ctrl-compass { display: none; }

.buttons {
    background: $background-color;
}
