<ion-content>
  <div class="order-placed-checkmark">
    <img src="/assets/images/tenor.gif" alt="Checkmark">
    <span class="status" *ngIf="order">Order {{order.id}}</span>
  </div>

  <ion-slides pager=true #StatusSlides>
    <ion-slide>
      <div class="stages" *ngIf="order" [attr.data-status]="order.status">
        <div class="line"></div>
        <div class="stage flex _0">
          <div class="checkmark"><ion-icon class="center" name="checkmark"></ion-icon></div>
          <div class="name">Recieving your order</div>
        </div>
        <div class="stage flex _1">
          <div class="checkmark"><ion-icon class="center" name="checkmark"></ion-icon></div>
          <div class="name">Preparing your order</div>
        </div>
        <div class="stage flex _2">
          <div class="checkmark"><ion-icon class="center" name="checkmark"></ion-icon></div>
          <div class="name">Your order is on the way</div>
        </div>
        <div class="stage flex _3">
          <div class="checkmark"><ion-icon class="center" name="checkmark"></ion-icon></div>
          <div class="name">Order delivered!</div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <app-map></app-map>
    </ion-slide>
  </ion-slides>
  
  <div class="bottom-buttons">
    <button class="map-button" (click)="order.status === 4 ? orderDelivered() : changeSlide()" #StatusSlidesButton *ngIf="order"><span>{{order.status === 4 ? 'ORDER DELIVERED!' : 'TRACK YOUR ORDER'}}</span></button>
  </div>
</ion-content>

<footer>
  <div class="eta">
    <div class="time">04:48 <div class="pmam">AM</div></div>
    <div class="name">Expected Delivery Time</div>
  </div>
  <div class="bottom flex">
    <div class="progress"></div>
    <button disabled>CONTACT SUPPORT</button>
  </div>
</footer>