@import '../../../variables.scss';

ion-content {
  --background: #000;
}

// ORDER PLACED CONTAINER
.order-placed-container {
  display: flex;
  width: 90%;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.order-placed-container * {
  color: $text-color-on-dark;
}

.order-placed-container .order-placed-checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background: $background-color;
  border-radius: 100px;
  margin-bottom: 10px;
}

.order-placed-container .order-placed-checkmark ion-icon {
  font-size: 60px;
  color: $text-color-on-light;
}

// ORDER ID OF THEN ORDER WHEN IT WAS PLACED
.order-id {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 30px;
}

// CONTINUE SHOPPING BUTTON
.continue-shopping-button {
  margin-top: 40px;
  border: 2px solid #FFF;
  border-radius: 5px;
  width: 100%;
}
