<ion-content>
  <div class="order-placed-container">
    <div class="order-placed-checkmark">
      <!-- When the order has been succesfully placed -->
      <ion-icon class="placed" name=checkmark-sharp *ngIf="this.isOrderPlaced"></ion-icon>

      <!-- When an error has occured while placing the order -->
      <ion-icon class="error" name=close-outline *ngIf="!this.isOrderPlaced"></ion-icon>
    </div>

    <div class="order-id" *ngIf="this.isOrderPlaced">#{{ this.id }}</div>
    <div class="order-id" *ngIf="!this.isOrderPlaced">ERROR</div>

    <!-- If the payment has been done onlne -->
    <div class="online-payment-messages" *ngIf="this.isOrderOnlinePayment">
      <!-- If payment was successful -->
      <div class="paid" *ngIf="this.isOrderPlaced">Your payment is complete. You can check your order status at <a (click)="openOrderTrackingPage(this.id)">Order Tracking</a> page.</div>
      <!-- When online payment failed for a number of reasons -->
      <div class="failed" *ngIf="!this.isOrderPlaced">Your payment failed. Please make sure you have enough funds to place the order, and try again. <a href="">Let us know</a> if error persists.</div>
    </div>

    <!-- If the payment has been done through a cash payment -->
    <div class="cash-payment-message" *ngIf="!this.isOrderOnlinePayment">
      <div class="placed">Your order has been placed. You can check your order status at <a href="">Order Tracking</a> page.</div>
    </div>

    <button class="continue-shopping-button" *ngIf="this.isOrderPlaced">Continue your Shopping</button>
    <button class="continue-shopping-button" *ngIf="!this.isOrderPlaced">Retry your Order</button>
  </div>
</ion-content>
