// Colors
$theme-color: #000; //3F220E, 355C7D, F8B195, rgb(70, 85, 56), rgb(19, 91, 47)
$secondary-color: rgb(222, 48, 30);
$tertiary-color: rgb(255, 240, 230);
$text-color-on-dark: #FFFFFF;
$text-color-on-light: #000000;
$background-color: #FFF;
$danger: rgb(243, 71, 71);
$success: rgb(33, 202, 149);
$side-menu-color: $text-color-on-dark;

// Typography
$font-family: 'Roboto', sans-serif;

// Shapes
$border: 1px solid transparentize(#000000, 0.9);
$shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
$radius: 4px;
$transition: 300ms ease-in-out;